<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XcodeLocalizationHelperPlugin_IgnoredPaths</key>
	<array>
		<string>Pods</string>
	</array>
	<key>XcodeLocalizationHelperPlugin_OutputPath</key>
	<string>gen</string>
	<key>XcodeLocalizationHelperPlugin_SplitOutput</key>
	<false/>
	<key>XcodeLocalizationHelperPlugin_RunOnBuild</key>
	<false/>
</dict>
</plist>
